@media (max-width: 400px){
    body {
        top: 10px;
        background-image: url('../background.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        /*backdrop-filter: blur(5px);*/
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }
    
    #A4 {
        padding: 1cm;
        width: 21cm;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: 0px 0px 15px 5px var(--dark-t-color);
        overflow-y: auto;
    }
    
    #header {
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: row;
    }
    
    #language-button{
        font-size: 50px;
        position: relative;
        width: 0px;
        height: 0px;
        border: none; /* Remove a borda */
        text-align: center; /* Centraliza o texto */
        text-decoration: none; /* Remove o sublinhado */
        display: inline-block; /* Garante que o botão se comporte corretamente */
        border-radius: 8px; /* Bordas arredondadas */
        cursor: pointer; /* Aponta o cursor ao passar por cima */
    }
    
    .logo-img{
        width: 15px;
        height: 15px;
    }
    
    .language-img{
        width: 50px;
        height: 50px;
    }

    ul {
        list-style-type: none;
    }

    h1{
        font-size: 26px;
    }

    p{
        font-size: 10px;
    }
}