:root{
    --light-b-color: #bcedff;
    --light-t-color: #121328;
    --dark-b-color: #121328;
    --dark-t-color: #78D6F9;

    --light-OpB-color: hsla(196, 100%, 87%, 0.5);
    --dark-OpB-color: hsla(237, 38%, 11%, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s;
}

.dark-theme{
    background-color: var(--dark-b-color);
    color: var(--dark-t-color);
}

.light-theme{
    background-color: var(--light-b-color);
    color: var(--light-t-color);
}

.darkOp-theme{
    background-color: var(--dark-OpB-color);
    color: var(--dark-t-color);
}

.lightOp-theme{
    background-color: var(--light-OpB-color);
    color: var(--light-t-color);
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

#language-button:hover {
    transform: scale(1.05); /* Aumenta o botão levemente ao passar o mouse */
}

#language-button:active {
    transform: scale(0.98); /* Efeito de "pressionar" ao clicar */
}

.logo-img:hover {
    transform: scale(1.15); /* Aumenta o botão levemente ao passar o mouse */
}