:root{
    --light-b-color: #bcedff;
    --light-t-color: #121328;
    --dark-b-color: #121328;
    --dark-t-color: #78D6F9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s;
}

body {
    top: 10px;
    background-image: url('./background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#A4 {
    padding: 2cm;
    width: 21cm;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 15px 5px var(--dark-t-color);
}

#header {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.dark-theme{
    background-color: var(--dark-b-color);
    color: var(--dark-t-color);
}

.light-theme{
    background-color: var(--light-b-color);
    color: var(--light-t-color);
}

#language-button{
    font-size: 50px;
    position: relative;
    left: 450px;
    width: 0px;
    height: 0px;
    border: none; /* Remove a borda */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Garante que o botão se comporte corretamente */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Aponta o cursor ao passar por cima */
}

#language-button:hover {
    transform: scale(1.05); /* Aumenta o botão levemente ao passar o mouse */
}

#language-button:active {
    transform: scale(0.98); /* Efeito de "pressionar" ao clicar */
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}

.logo-img{
    width: 25px;
    height: 25px;
}

.language-img{
    width: 50px;
    height: 50px;
}

.logo-img:hover {
    transform: scale(1.15); /* Aumenta o botão levemente ao passar o mouse */
}

ul {
    list-style-type: none;
}
