.tech-icons i {
  font-size: 3rem;
}

.profile-img {
    max-width: 180px;
    border-radius: 50%;
     margin-bottom: 20px;
}

.bg-profile-img{
  background-color: #b07c2c;
}

.bg-wallpaper {
  background-image: url('background2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.glow-text:hover {
  text-shadow: 0 0 10px #f4e6b4
}

.fs-wallpaper{
  font-size: 5vw;
}

.bg-light2{
  background-color: #fdf9f6;
}